<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Paiement marchand</ion-title>
    <div class="frontImage"> 

    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
    <form (submit)="login()"  [formGroup]="formgroup">
      <div class="form-content">
      <div  text-center >
        <h6>Paiement </h6>
      </div>
      <ion-list>
        <ion-item class="form-item" >
          <ion-select [(ngModel)]="paysWallet"  multiple="false" [ngModelOptions]="{standalone: true}" [selectOptions]="selectOptions" placeholder="Pays" (ionChange)="onChangeWallet($event)"> 
            <ion-option  *ngFor="let paysWallet of paysWallets"  value={{paysWallet.pays_id}} [selected]="paysWallet.pays_id==defaultpaysWallet.pays_id"> {{paysWallet.libelle_label}} </ion-option> 
          </ion-select>
        </ion-item>
       
        <ion-item class="form-item" >
          <ion-select [(ngModel)]="wallet"  multiple="false" [ngModelOptions]="{standalone: true}" [selectOptions]="selectOptions2" placeholder='type de marchand' > 
            <ion-option *ngFor="let wallet of wallets"  value={{wallet.code_walet}} selected="wallet.code_walet=='perfectpay'">{{wallet.libelle_walet}} ({{ wallet.mno}})</ion-option> 
          </ion-select>
        </ion-item>
        <ion-item class="form-item">
          <ion-input class="text-input" formControlName="montant" type="number"  autocorrect="off" autocapitalize="none" name="montant" placeholder="montant"></ion-input>
        </ion-item>
        <ion-item class="form-item">
          <ion-input formControlName="code_marchand" class="text-input" type="text" autocorrect="off" autocapitalize="none" name="raison" placeholder="code du marchand"></ion-input>
        </ion-item>  
  
      </ion-list>
    
  </div>

    </form>
    <div  text-center>
      <button ion-button icon-left   block class="login-button"  (tap)="scanCode()"><ion-icon name="qr-scanner"></ion-icon> code QR</button>
  
    </div>
  <!--   <div  text-center>
      <button ion-button icon-left   block class="login-button"  (tap)="generate()"><ion-icon name="qr-scanner"></ion-icon> code QR</button>
  
    </div> --> 
  <div  text-center>
    <button ion-button   block class="login-button" [disabled]="!formgroup.valid" (tap)="checkPayment()">Payer</button>

  </div>
  
  <div  text-center class="message-error-text">
          
         
    <p >{{ message }} </p>
 
</div>
</ion-content>  
