

<ion-content padding>
  <div class="top-image">
    <div class="frontImage"> 

    </div>
  </div>

    <form  [formGroup]="formgroup">

      
      <ion-list>
       <!--  <ion-slides pager (ionSlideDidChange)="slideChanged()" >
          <ion-slide > -->
            <h2 class="slide-title" >Identification</h2>
            <ion-item class="form-item">
              <ion-input class="text-input" formControlName="nom"  type="text" autocorrect="off" autocapitalize="none"
               name="nom" placeholder="nom"></ion-input>
            </ion-item> 
            <ion-item class="form-item">
              <ion-input class="text-input" formControlName="Prenom"  type="text" autocorrect="off" autocapitalize="none"
               name="Prenom" placeholder="Prenom"></ion-input>
            </ion-item> 
            <ion-item class="country">
              <ion-select [(ngModel)]="country" [ngModelOptions]="{standalone: true}" placeholder="Cameroon"
               (ionChange)="countryChange()" multiple="false">
                <ion-option *ngFor="let ctry of countries" [value]="ctry" [selected]="ctry.dial_code == country.dial_code">
                  {{ctry.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item class="form-item">
              <ion-input class="text-input" formControlName="Ville"  type="text" autocorrect="off" autocapitalize="none" 
              name="Ville" placeholder="Ville"></ion-input>
            </ion-item>
                <ion-item class="form-item">
                  <ion-input class="side-i" [disabled]="true"  placeholder="Indicatif"
                   formControlName="dial_code" value="{{this.country.dial_code}}" type="text"></ion-input>
        
                  <ion-input class="text-input" formControlName="Telephone"  type="number" autocorrect="off"
                   autocapitalize="none" name="Telephone" placeholder="Telephone"></ion-input>
                </ion-item> 
                <ion-item class="form-item">
                  <ion-input class="text-input" formControlName="email"  type="email" autocorrect="off" 
                  autocapitalize="none" name="login" placeholder="adresse email"></ion-input>
                </ion-item>
                <div  text-center>
                  <button ion-button  block class="login-button"
                   [disabled]="!(email.valid && Telephone.valid && nom.valid && country  && Ville.valid )"
                   id="nextButton"  (tap)="register()">Inscription</button>
                </div>
         <!--  </ion-slide> -->
<!--           <ion-slide>
            <h2 class="slide-title" >localisation</h2>


            <ion-item class="country">
            <ion-select class="country" formControlName="Region"  placeholder="region" (ionChange)="regionChange()" multiple="false">
              <ion-option *ngFor="let region of regions" [value]="region.region_id" >{{region.region_label}}</ion-option>
            </ion-select>   
          </ion-item> 
          <ion-item class="form-item">
            <ion-select class="country" formControlName="Departement"   placeholder="Département"  multiple="false">
              <ion-option *ngFor="let dep of Departements"  [value]="dep.departement_id" >{{dep.departement_label}}</ion-option>
            </ion-select>   
          </ion-item>     
          
          <ion-item class="form-item">
            <ion-datetime displayFormat="DD/MM/YYYY"  max="2020" placeholder="Date de Naissance"
              formControlName="DateNaissance"></ion-datetime>

          </ion-item> 
          <div  text-center>
            <button ion-button  block class="login-button" 
            [disabled]="!(DateNaissance.valid && Departement.valid && Region.valid && Ville.valid )"
            (tap)="register()">Inscription</button>
          </div>
          </ion-slide> -->
     
        <!-- </ion-slides> -->

     
    <!--       <ion-item class="form-item">
          <ion-input class="text-input" formControlName="Civilite"  type="text" autocorrect="off"
           autocapitalize="none" name="Civilite" placeholder="Civilite"></ion-input>
        </ion-item>   -->    

      </ion-list>
    </form>
 

  <div  text-center>
    <p class="info-text"> Vous avez déja un compte? <a (tap)="gotoLogin()">Connectez-vous</a></p>
  </div>
  
  
</ion-content>  
