<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>    
    </ion-title>

    <div class="frontImage"> 

    </div>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="viewNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge item-end class="notif-badge" color="success" *ngIf="unread>0">{{ unread }}</ion-badge>
      </button>
      <button ion-button icon-only (click)="getQrcode()">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="notif-container"  (focusout)="hide($event)" on-focus="hide()" on-focusout="hide()"> 
    <ion-list class="notifications" *ngIf="showNotification">
      <ion-item *ngFor="let notif of notifications" class="notification"  >  
        
        <h2>{{ notif.titre}}</h2>
        <h3>{{ notif.date}}</h3>
        <p>{{ notif.message}}</p>
      </ion-item>
    </ion-list>
  </div>


  <div class="img-content">
  </div>
  <div class="applications">

     <ion-row text-center>

      <ion-col col-6> 
        <button ion-button color="light" outline (tap)="gotoTransfert()">

          <div><ion-icon name="custom-payment"></ion-icon></div>
          Transfert d'argent
        
      </button>
    </ion-col>
      <ion-col col-6>
         <button ion-button color="light" outline class="prior" (tap)="getSolde()">

        <div><ion-icon name="custom-transfert"></ion-icon></div>

        Mon solde
        
      </button>
    </ion-col>
 
     </ion-row>
     <ion-row text-center>

      <ion-col col-6>
         <button ion-button color="light" outline (tap)="doRadio()">

        <div><ion-icon name="custom-topup"></ion-icon></div>
        Recharger Mon Compte
        
      </button>
    </ion-col>
      <ion-col col-6>
         <button ion-button color="light" outline (tap)="gotoPayment()">

        <div><ion-icon name="custom-settings"></ion-icon></div>
        Paiement marchand
        
      </button>
    </ion-col>
    
     </ion-row>
     <ion-row text-center>

      <ion-col col-6> 
        <button ion-button color="light" outline (tap)="getHistory()" >

        <div><ion-icon name="custom-history"></ion-icon></div>
        Historique
        
      </button>
    </ion-col>
      <ion-col col-6> <button ion-button color="light" outline (tap)="makeBanking()">

        <div><ion-icon name="custom-topup"></ion-icon></div>
        GimacPay
        
      </button>
    </ion-col>
    
     </ion-row>


</div>
</ion-content>  
