page-home {
    .scroll-content {
        background: #ffe4c400;
    }
    .fixed-content {
        background: #f0f8ff05;
    }
    .ion-page {
        background: blue;
    }
    .content-md {
        color: #000;
        background-image: url('../assets/imgs/fond.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .content-ios {
        color: #000;
        background-image: url('../assets/imgs/fond.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .notif-badge{
        position: absolute;
        left: 13px;
        bottom: 2px;
        font-size: 8px;
        padding-left: 4px;
        border-radius: 70%;
        padding-right: 4px; 
    }
    .button-inner {

    display: block;
    font-family: CaviarDreams;
    align-items: center;
    align-items: center;
    align-self: center;
    display: contents;
    font-size: x-small;
}
.button-md {
    height: 6em;
    padding: 0 1.1em;
    width: 96%;
}
.button-md:hover{
    border: 0;
    background: #FA9B03;
}
.button-ios {
    height: 6em;
    padding: 0 1.1em;
    width: 96%;
}
.button-ios:hover{
    border: 0;
    background: #FA9B03;
}
.applications{
    width: 100%;
    /* display: block; */
    text-align: center;
}
.img-content{
    height: 35%;
    width: 110%;
    margin-left: -5%;
    margin-top: -16px;
    margin-bottom: 12%;
    background-image: url('../assets/imgs/appImage.jpg');
    background-size: cover;

}
.col{
    padding: 0;
}

ion-img.appImage.img-loaded {
    width: 100%;
    height: 100%;
    background: transparent;
}
.prior{
    background: #b31c23;
    border: 0;
}
.toolbar-background-md {
 
    background: transparent;
}
.toolbar-background-ios {
 
    background: transparent;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #b31c23;
}
.bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
    color: #b31c23;
}
.toast-success {
    > div{
         background-color:#86f3b3!important;
     }
  }
  .toast-error{
    > div{
         background-color:#ec8181!important;
     }
  }
  .header-img{
      max-width: 40%;
  }
  .frontImage {
    color: #fff;
    background-image: url(../assets/imgs/perfectpay.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 30%;
    margin-left: 10%;
}
ion-list.notifications{
    margin-bottom: 0;
    background: transparent;
}
.notif-container {
    position: absolute;
    width: 80%;
    right: 38px;
    z-index: 10000;
    top: 5px;
    border-radius: 12px;
    animation-duration: 1s;
    animation-name: slidown;
    /* border-radius: 20%; */
}
.notification{
    border-radius: 10px;
    margin-bottom: 3px; 
}
.unread{
    background: #86f3b3;
}
@keyframes slidown {
    0%   { left:0px; top:100px;}
    100% {left:0px; top:0px;}
  }
}
