<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Paiement de service</ion-title>
    <div class="frontImage"> 

    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
    <form (submit)="login()"  [formGroup]="formgroup">
      <div class="form-content">
      <div  text-center >
        <h6>Paiement de service</h6>
      </div>
      <ion-list>
        <ion-item class="form-item" >
          <ion-select [(ngModel)]="paysWallet"  multiple="false" [ngModelOptions]="{standalone: true}" [selectOptions]="selectOptions" placeholder="Pays" (ionChange)="onChangeWallet($event)"> 
            <ion-option  *ngFor="let paysWallet of paysWallets"  value={{paysWallet.pays_id}} [selected]="paysWallet.pays_id==defaultpaysWallet.pays_id"> {{paysWallet.libelle_label}} </ion-option> 
          </ion-select>
        </ion-item>
       
        <ion-item class="form-item" >
          <ion-select [(ngModel)]="wallet"  multiple="false" [ngModelOptions]="{standalone: true}" [selectOptions]="selectOptions2" placeholder='Service' > 
            <ion-option *ngFor="let wallet of wallets"  value={{wallet.code_walet}} selected="wallet.code_walet=='perfectpay'">{{wallet.libelle_walet }}</ion-option> 
          </ion-select>
        </ion-item>
        <ion-item class="form-item">
          <ion-input formControlName="reference_abonnement" class="text-input" type="text" autocorrect="off" autocapitalize="none" name="reference_abonnement" placeholder="Numéro de l'abonnement*"></ion-input>
        </ion-item> 
        <ion-item class="form-item">
          <ion-input formControlName="reference_abonne" class="text-input" type="text" autocorrect="off" autocapitalize="none" name="reference_abonne" placeholder="reference l'abonne (optionnel)"></ion-input>
        </ion-item>  
        <ion-item class="form-item">
          <ion-input formControlName="reference_facture" class="text-input" type="text" autocorrect="off" autocapitalize="none" name="reference_facture" placeholder="autre reférence (optionnel)"></ion-input>
        </ion-item>  
  
      </ion-list>
    
  </div>

    </form>

  <div  text-center>
    <button ion-button   block class="login-button" [disabled]="!formgroup.valid || wallet==null" (tap)="inquiryBills()">Valider</button>

  </div>
  
  <div  text-center class="message-error-text">
          
         
    <p >{{ message }} </p>
 
</div>
</ion-content>  
