<ion-menu [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
      <img class="header-img" src="./assets/imgs/perfectpay.png"/>

    </ion-toolbar>

  </ion-header>

  <ion-content>

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
       </button>
       <!--
      <button menuClose ion-item (click)="showOngoingRetrait()">
        Code PerfectPay USSD
      </button> -->
      <button menuClose ion-item (click)="secretUpdate()" *ngIf="secretStatus">
        Modifier code secret
      </button>
      <button menuClose ion-item (click)="showPersonnalInfos()">
        Mon Compte
        </button>
<!--       <button menuClose ion-item (click)="ddd()">
         Partenaires
      </button>
    
      <button menuClose ion-item (click)="achatServices()">
        Achat produits et services
      </button> -->
      <button menuClose ion-item (click)="showHelp()">
      Aide
      </button>
      <button menuClose ion-item (click)="disconnect()">
        Déconnexion
      </button>      

    </ion-list>
  </ion-content>

</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
