// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../theme/fonts';

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 2em;
    height: 2em;

  }

 
  &[class*="custom-transfert"] {
    mask-image: url(../assets/icon/transfert.svg);
  }
  &[class*="custom-payment"] {
    mask-image: url(../assets/icon/payment.svg);
  }
  &[class*="custom-help"] {
    mask-image: url(../assets/icon/help.svg);
  }
  &[class*="custom-topup"] {
    mask-image: url(../assets/icon/topup.svg);
  }
  &[class*="custom-history"] {
    mask-image: url(../assets/icon/history.svg);
  }
  &[class*="custom-settings"] {
    mask-image: url(../assets/icon/settings-api.svg);
  }


}
.menu-inner > .ion-content.content.content-md {
  background: bisque;
  
      color: #fff;
      background-image: url('../assets/imgs/fond.jpg');
      background-size: cover;
      background-repeat: no-repeat;
}
.menu-inner > ion-content{
  background-image: url('../assets/imgs/fond.jpg');
  background-size: cover;
  background-repeat: no-repeat;}
.header-row.row {
  border-bottom: solid 1px white;
}
.menu-inner  .scroll-content {
  
  color: #fff;
  background-image: url('../assets/imgs/fond.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.menu-inner  .scroll-content {
  background-image: url('../assets/imgs/fond.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.menu-inner  button.item.item-block.item-md {
  background: transparent;
  color: white;
}
.menu-inner  ion-list.list.list-md {
  background: transparent;
}.menu-inner  button.item.item-block.item-ios {
  background: transparent;
  color: white;
}
.menu-inner  ion-list.list.list-ios {
  background: transparent;
}
.toolbar-background-md {
  background: #000000ad;
}
.toolbar-background-ios {
  background: #000000ad;
}

img.header-img {
  max-width: 60%; 
}
.alert-ios .alert-message, .alert-ios .alert-input-group {
  text-align: left;
 
}
.toolbar-content-md {

  text-align: end;
}
.toolbar-content-ios {

  text-align: end;
}